<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Морской бой</h1>

<% if user_signed_in? %>
  <span>Здравствуйте, <%= current_user.full_name %>
    (<%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>)</span>
  <ul>
    <li><%= link_to 'Перейти в профиль', persons_profile_path %></li>
    <li><%= link_to 'Посмотреть все стратегии', strategies_path %></li>
    <li><%= link_to 'Посмотреть общую историю игр', games_path %></li>
    <li><%= link_to 'Создать игру', new_game_path %></li>
  </ul>
<% else %>
  <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

