<h1>Профиль</h1>
<%= link_to 'Изменить', edit_user_registration_path %>
<p>Имя: <%= current_user.full_name %></p>
<p>Группа: <%= current_user.group %></p>
<p>Email: <%= current_user.email %></p>
<p>Список загруженных стратегий:</p>
<% if current_user.strategies %>
  <table>
    <% current_user.strategies.each do |strategy| %>
    <tr>
      <td><%= strategy.title %></td>
      <td><%= link_to 'Показать', strategies_path(strategy) %></td>
      <td><%= link_to 'Удалить', [strategy],
                      method: :delete,
                      data: { confirm: 'Вы уверены, что хотите удалить стратегию?' } %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p>Пока не загружено ни одной стратегии</p>
<% end %>