<h1>Создать игру</h1>

<%= form_with scope: :game, url: :games, local: true do |form| %>
  <%= form.label 'Ваша стратегия' %><br>
  <%= collection_select(:game, :strategy1_id, current_user.strategies, :id, :title) %><br>

  <%= form.label 'Стратегия противника' %><br>
  <%= collection_select(:game, :strategy2_id, Strategy.all, :id, :full_title) %><br>

  <%= form.submit 'Создать игру' %>
<% end %>